$navbar-default-bg: #FF8787;

@import "bootstrap-sprockets";
@import "bootstrap";

#img_header {
  margin-top: -7px;
}

.logo_text {
  margin-top: 15px;
  margin-right: 25px;
  float: left;
  font-size: 1.5em;
  color: #E32B2B;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: bold;
}
.logo_text:hover {
  margin-top: 15px;
  margin-right: 25px;
  float: left;
  font-size: 1.7em;
  color: #cc2626;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.clear {
  clear:both;

}
.timestamp {
  font-style: italic;
}
.text_right {
  float: right;
}
.description {
  margin-top: -3px;
}
.post-actions{
  border-top: 2px solid #FAB0B0;
padding-top: 5px;
}
.posts-title{
font-weight: bold;
font-size: 1.5em;
}
.posts-title:hover{
  color: #cc2626;
}
.posts-body{
border-top:  1px solid #000;
padding-top: 25px;
padding-bottom: 25px;

}
